<!DOCTYPE html>
<html>
  <head>
    <title>MyTamagotchi</title>
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css'>
  </head>
  <body>
    <div class="container">
      <h1 class="jumbotron">Name your new Tamagotchi</h1>
      <form action="/tamagotchi" method="post">
        <div class="form-group">
          <img src="https://vignette.wikia.nocookie.net/tamagotchi/images/4/49/Egg_tah_gen1.png/revision/latest/fixed-aspect-ratio-down/width/240/height/240?cb=20150420025800&fill=transparent">
          <label for="name" >Name:</label>
          <input id="name" name="name" type="text">
        </div>
        <button type="submit" class="btn btn-info">Hatch!</button>
      </form>
      <br>
      <a href="/tamagotchi"><button class="btn btn-danger">Back to the Tamagotchi Park</button></a>
    </div>
  </body>
</html>
